$colors: (
    primary: #005dff,
    primary-light: lighten(#005dff, 40%),
    primary-dark: darken(#005dff, 40%),
    accent: #FFF6BB,
    bottom: #fff,
);


@function color($color-name) {
    @return map-get($colors, $color-name )
}

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: color(primary);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 5);
    grid-template-areas: 
        "header"
        "header"
        "section1"
        "section2"
        "main"
        "section3"
        "section4"
        "section5"
        "section6"
        "about"
        "about";
}


section:nth-of-type(1) {
    grid-area: section1;
    height: 350px;
    text-align: center;

    h1 {
        font-size: 3rem;
        margin-top: 10px;
        text-transform: uppercase;
        color: color(bottom);
        margin-top: 3rem;
    }

    p {
        font-size: 1.5rem;
        color: color(bottom)
    }
}

section:nth-of-type(2) {
    grid-area: section2;
    height: 350px;
        
    #card {
        background:  #fff;
        padding: 20px;
        margin: 1rem auto;
        border-radius: 3% 97% 3% 97% / 97% 3% 97% 3%;
        box-shadow: 0 10px 30px rgba(0,0,0,.2);
        width: 350px;
        margin-top: 6rem;
    }

    ul {
        list-style-type: none;
        margin: 0; padding:0;

        li {
            margin-bottom: 10px;

            span {
                position: relative;
                font-size: 1.5rem;
                left: -20px
            }

            strong {
                display: inline-block;
                margin-left:max(40px);
                margin-top: 10px;
                position: relative;
                left: -20px
            }
        }
    }
}

main {
    grid-area: main;
    margin: auto;

    #content {
        margin: 3rem;
        background-color: color(bottom);
        border-radius:1% 99% 1% 99% / 99% 1% 99% 1% ;
        padding: 3rem;
        box-shadow: 0 10px 30px rgba(0,0,0,.2);
    }

    #link {
        font-size: 2rem;
        margin:0;
    }
}

section:nth-of-type(3) {
    grid-area: section3;
    
    #column1 {
        margin:1rem;
    }
}

section:nth-of-type(4) {
    grid-area: section4;

    #column2 {
        margin:1rem;
    }
}

section:nth-of-type(5) {
    grid-area: section5;
}

section:nth-of-type(6) {
    grid-area: section6;
}

footer {
    grid-area: about;
    background-color: #fff;
    padding: 4rem;
    
    #mail {
        margin-right: 2rem;
        margin-left: 1rem;
    }

    #me {
        margin-top: 0rem;
        text-align: justify;
        margin-left: 1rem;
    }

}

.box {
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
    border-radius: 1% 99% 2% 98% / 98% 0% 100% 2% ; 
}

.tag {
    margin-bottom: .5rem;
}

#link {
    font-size: 2rem;
    margin-right:1rem

}

.button {
    margin: 0 .5rem;
}

@media only screen and (min-width: 768px) {

    body {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        background-color: color(primary);
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: 
            "header    header"
            "section1  section2"
            "main      main"
            "section3  section4"
            "section5  section6"
            "about     about";
    }

    main {
        grid-area: main;
        min-height: 300px;
        margin: auto;
        width:1000px;
    }

    section:nth-of-type(3) {
        grid-area: section3;
        
        #column1 {
            float:right;
            margin:auto;
            width:650px;
            margin-bottom: 4rem;
        }
    }
    
    section:nth-of-type(4) {
        grid-area: section4;
    
        #column2 {
            float:left;
            margin:auto;
            width:650px;
            margin-bottom: 4rem;
        }
    }

    #metext {
        max-width: 550px;
    }
}